@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sono:wght,MONO@200..800,1&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat",
    sans-serif;
}

.logo_name p {
  color: #1c4285;
  font-weight: bold;
}

.logo {
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid #e6e6e7;
  position: relative;
  /* needed for absolute positioning of search */
}

.logo_name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.search {
  width: 400px;
  /* border: 1px solid black; */
  height: 30px;
  border-radius: 10px;
  background-color: #f3f3f5;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  /* center horizontally within header */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search:active {
  border: 1px solid;
}

.search p {
  color: #8e8a93;
  margin-left: 10px;
}

.seach input {
  border: none;
  outline: none;
}

.search {
  margin-right: auto;
}


.bi-search {
  color: #8e8a93;
}

.container {
  display: flex;

}

.btn {
  background-color: blue;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.profile {
  margin-left: auto;
  /* push to the far right of the flex container */
  display: flex;
  align-items: center;
  gap: 20px;
}


.pfp_pic img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}
